.widget-header {
  position: absolute;
  width: 90%;
  max-width: 850px;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
  border-radius: 8px;
}

.header {
  position: relative;
}

.jadwal-icon {
  width: 30px;
  margin-right: 10px;
  max-width: 100%;
}